language: php

php:
  - 5.4
  - 5.5
  - 5.6

before_script:
 - npm install -g grunt-cli
 - npm install
 - composer install
 - wget http://cs.sensiolabs.org/get/php-cs-fixer.phar
 - grunt migrate -env=test

script:
 - phpunit --coverage-text
 - grunt build

notifications:
  email: false
