<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/spout.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/apps/users.js"></script>
</head>
<body>


<div class="row">
	{% block page %}{% endblock %}
</div>

</body>
</html>