<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/spout.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/apps/users.js"></script>
</head>
<body>


<div class="row">
	<h1>Main Page</h1>
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>

{% block page %}{% endblock %}

</div>
</body>
</html>