<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div class="container" ng-app="spout">

<error-window></error-window>

  <div class="row header">
    <div class="col-md-8"><img src="/img/logo.png"></div>
    <div class="col-md-4"><h1>{% block h1 %}{% endblock %}</h1></div>
  </div>

  {% block page %}{% endblock %}

</div>
<script src="/js/lib/lodash.underscore.min.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-route.min.js"></script>
<script src="/js/lib/angular-animate.min.js"></script>
<script src="/js/lib/restangular.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/apps/users.js"></script>
<script src="/js/apps/entities.js"></script>
<script src="/js/directives/rolesDirectives.js"></script>
</body>
</html>