{% extends "layout/default.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ title }}{% endblock %}
{% block page %}

<a class="btn btn-primary btn-lg" ng-href="#/add">Add User</a>

<div class="modal" id="myModal" ng-controller="ModalCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div ng-view></div>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover" ng-controller="UsersCtrl" ng-show="users">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{[user.id]}</td>
      <td>{[user.name]}</td>
      <td>{[user.email]}</td>
      <th>
        <span class="glyphicon glyphicon-trash" ng-click="delete(user)"></span>&nbsp;
        <span class="glyphicon glyphicon-pencil"></span>
      </th>
    </tr>
  </tbody>
</table>

{% endblock %}