{% extends "layout/default.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block page %}
<h1>{{title}}</h1>
<div class="row" ng-app="spout">


  <table class="table table-hover" ng-controller="usersCtrl">
    <thead>
      <tr>
        <th>{{data}}</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{[user.id]}</td>
        <td>{[user.username]}</td>
        <td>{[user.email]}</td>
      </tr>
    </tbody>
  </table> 
</div>
{% endblock %}