{% extends "layout/default.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block page %}



<h1>{{title}}</h1>
<div class="row" ng-app="spout">

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div ng-view></div>
      </div>
    </div>
  </div>
</div>

<div roles-selector></div>

  <table class="table table-hover" ng-controller="UsersCtrl" ng-show="users">
    <thead>
      <tr>
        <th></th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{[user.id]}</td>
        <td>{[user.username]}</td>
        <td>{[user.email]}</td>
      </tr>
    </tbody>
  </table> 

  

</div>
{% endblock %}