<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Add Link <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="menus.links.add-url({slug:menu.slug})">Add URL</a></li>
        <li><a ui-sref="menus.links.add-url">Add Resource</a></li>
        <li><a ui-sref="menus.links.add-url">Add Index</a></li>
    </ul>
</div>

<ul class="list-group">

    <li class="list-group-item" ng-repeat="link in links">
    {[link.name]}
        <span class="badge" ui-sref="menus.links.edit({id: link.id, slug: link.menu})"><span class="glyphicon glyphicon-pencil"></span></span>
        <span class="badge" ng-click="delete(link)"><span class="glyphicon glyphicon-trash"></span></span>
    </li>
</ul>


<div ui-view></div>