{% extends "layout/default.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ title }}{% endblock %}
{% block page %}

  <form name="loginForm" novalidate ng-controller="LoginCtrl">
    <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid}">
      <label for="email">Email</label>
      <input type="text" ng-model="login.email" class="form-control" name="email" placeholder="Enter your email address" required>
      <formfield-error-msg msg="Your email must be valid" field="loginForm.email" />
    </div>
    <div class="form-group">
      <label for="name">Password</label>
      <input type="password" ng-model="login.password" class="form-control" name="password" placeholder="Enter your password" required>
      <formfield-error-msg msg="Password must be valid" field="loginForm.password" />
    </div>

    <div class="form-group">
      	<button type="button" class="btn btn-default btn-lg" ng-click="submitForm()">
   			<span class="glyphicon glyphicon-plus"></span> Login
   		</button>
    </div>


  </form>

{% endblock %}

{% block js %}
<script src="/js/apps/login.js"></script>
{% endblock %}
