<img src="/img/spinner.gif" width="64" height="64" ng-show="!ready()" id="spinner" />

<div ng-show="ready()" class="row">
  <h1> Add a {{}}
  <ul class="nav nav-tabs">
    <li class="active link" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span></li>
    <li class="cancel link" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></li>
  </ul>

  <form name="resourceForm" novalidate>

    <div class="form-group" ng-class="{'has-error': userForm.name.$invalid}">
      <label for="name">{{resourceType.title_label}}</label>
      <input type="text" ng-model="user.name" class="form-control" name="name" placeholder="Enter the {{resourceType.title_label}}" required>
      <formfield-error-msg msg="{{resourceType.title_label}} should not be blank" field="resourceForm.title" />
    </div>

  </form>
</div>