{% extends "layout/default.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ title }}{% endblock %}
{% block page %}

<script>
window.Spout = window.Spout || {}
window.Spout.resourceTypes = {{ resource_types|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
</script>


<div class="btn-group" ng-controller="ResourceTypesCtrl">
  <button type="button" class="btn btn-default dropdown-toggle  btn-lg" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span> Add Resource
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="resourceType in resourceTypes"><a ng-href="#/resources/add/{[resourceType.slug]}">{[resourceType.name]}</a></li>
  </ul>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus"></span> Resource Type
  </button>
</div>


<div class="modal" id="myModal" ng-controller="ModalCtrl" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div ng-view></div>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover" ng-controller="ResourcesCtrl" ng-show="resources">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="resource in resources">
      <td>{[resource.id]}</td>
      <td>{[resource.type_name]}</td>
      <td>{[resource.title]}</td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block js %}
<script src="/js/apps/resources.js"></script>
{% endblock %}