<img src="/img/spinner.gif" width="64" height="64" ng-show="!ready()" id="spinner" />

<div ng-show="ready()" class="row">
  <ul class="nav nav-tabs">
    <li class="active link" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span></li>
    <li class="cancel link" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></li>
  </ul>

  <form name="typeForm" novalidate>

    <div class="form-group" ng-class="{'has-error': typeForm.name.$invalid}">
      <label for="name">Name</label>
      <input type="text" id="name" ng-model="type.name" class="form-control" name="name" placeholder="eg. page, blog, cars etc" required>
      <formfield-error-msg msg="The type name should not be blank" field="typeForm.name" />
    </div>

    <div class="form-group" ng-class="{'has-error': typeForm.slug.$invalid}">
      <label for="slug">Slug</label>
      <input type="text" id="slug" ng-model="type.slug" name="type" class="form-control" placeholder="A slug that may be used in URL's" required>
      <formfield-error-msg msg="The slug cannot be blank" field="typeForm.slug" />
    </div>


    <div class="form-group">
      <label for="roles">Role</label>
      <roles-selector />
    </div>
  </form>
</div>