{% extends "layout/default.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ title }}{% endblock %}
{% block page %}

<a class="btn btn-primary btn-lg" ng-href="#/add"><span class="glyphicon glyphicon-plus"></span></a>

<div class="modal" id="myModal" ng-controller="ModalCtrl" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div ng-view></div>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover" ng-controller="EntitiesCtrl" ng-show="entities">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entity in entities">
      <td>{[entity.id]}</td>
      <td>{[entity.type_name]}</td>
      <td>{[entity.title]}</td>
    </tr>
  </tbody>
</table>

{% endblock %}